fastapi==0.104.1
cryptography

# for ML portion
torch
transformers
openai
sentence-transformers
langchain==0.1.14
langchain-community==0.0.30
chromadb==0.4.15
pymysql
pydantic_settings
python-multipart
pandas