.container {
    display: flex;
    background-color: #E6EDED; /* Grey background */
  }
  
  .text {
    flex: 1; /* Text takes up remaining space */
    padding: 150px 250px 200px 200px;
  }

  .heading {
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    font-weight: bold;
  }
  
  .paragraph {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: regular;
    padding: 20px 50px 20px 0;
  }
  
  .image {
    padding: 20px 0 20px 20px;
  }
  
  .image img {
    height: 554px;
    max-width: 100%;
  }

  .button {
    position: absolute;
    width: 130px;
    padding: 10px 20px; 
    background-color: #0A6160;
    color: white;
    border-radius: 8px; 
    text-align: center; 
    cursor: pointer; 
    transition: background-color 0.3s; 
}

.button:hover {
  background-color: #074641; 
}

.bottom-container {
    margin-top: 20px; /* Add margin between containers */
    background-color: #ffffff; /* Light grey background */
    background-image: url('/Vector4094.png');
    background-repeat: no-repeat; /* Prevent background image from repeating */
    background-position: center; /* Center the background image */
    background-size: cover; /* Cover the entire container */
  }

  .bottom-container-1 {
    display: flex;
    padding: 150px 20px 20px 20px;
  }

  .bottom-container-2 {
    display: flex;
    padding: 150px 20px 20px 20px;
  }
  
  .left-content {
    display: flex;
    padding: 150px 20px 20px 20px;
  }
  
  .box {
    width: 559px;
    height: 368px;
    padding: 20px;
    margin-right: 20px; /* Margin between box and text */
    margin-left: 170px;
    border-radius: 16px; 
    border: 1px solid #BDBDBD; /* Black border */
    box-sizing: border-box; /* Include border in width and height calculation */
    background-color: #ffffff;
  }
  
  .heading2 {
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: #0A6160;
    text-align: center;
    padding: 30px 0 0 0;
  }
  
  .paragraph2 {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: regular;
    text-align: center;
    padding: 30px 0 0 0;
  }

  .right-content {
    display: flex;
    padding: 20px;
    margin-left: 300px;
  }

  .image2-container {
    padding: 0 0 0 20px;
    width: 600px;
  }
  
  .image2 {
    border-radius: 16px; /* Rounded edges */
  }

  .heading3 {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: #1D1D1D;
    padding: 20px 0 0 0;
  }
  
  .paragraph3 {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: regular;
    padding: 20px 50px 20px 0;
    color: #404040;
    padding: 20px 0 0 0;
  }

  .image-bottom-left {
    margin-right: 20px; /* Margin between box and text */
    margin-left: 170px;
  }
  
  .image-bottom-left img {
    height: auto; /* Maintain aspect ratio */
  }

  .heading4 {
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: #1D1D1D;
    padding: 20px 100px 0 0;
  }
  
  .paragraph4 {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: regular;
    padding: 20px 50px 20px 0;
    color: #404040;
    padding: 20px 100px 0 0;
  }

  .text-bottom-right {
    display: absolute;
    padding: 20px;
    margin-left: 300px;
  }

  .header-text {
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    padding: 30px 0 30px 190px;
  }

  .button-container {
    padding: 20px;
    text-align: center;
}

.button-btm {
    width: 170px;
    padding: 10px 20px; 
    border: 1px solid #0A6160;
    background-color: #ffffff;
    color: #0A6160;
    border-radius: 8px; 
    text-align: center; 
    cursor: pointer; 
    transition: background-color 0.3s; 
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.button-btm:hover {
    background-color: #0A4040; 
    color: #ffffff; 
}