#title {
    text-align: center;
    font-family: arial, sans-serif;
  }
  
  #exercises {
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border: 3px solid #ddd;
    width: 100%;
  }
  
  #exercises td, #students th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #exercises tr:nth-child(even){background-color: #f2f2f2;}
  
  #exercises tr:hover {background-color: #ddd;}
  
  #exercises th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #75AFAC;
    color: black;
  }