.page-container {
    display: flex;
    margin-top: 6em;
    flex-direction: column;
    background-color: #E6EDED;
}

.profile-page {
    margin-bottom: 2em;
}

.continue-progress {
    background: #F5F5F5;
    border-radius: 15px;
    padding: 1em;
    width:auto;
    height:max-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em;
    align-items: right;
}

.continuebutton {
    background-color: #0A6160;
    border: none;
    color: white;
    padding: 1em;
    cursor: pointer;
    border-radius: 10px;
}

.label {
    padding-left: 1em;
}

.graphs {
    padding-left: 5em;
    padding-right: 5em;
    padding-bottom: 1em;
    width:auto;
    height:max-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em;
}

.pie-content {
    background: #F5F5F5;
    border-radius: 15px;
    width:auto;
    height:max-content;
    display: flex;
    flex-direction: column;
    margin: 1em;
}

.pie-graph {
    height:max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
}

.pie-name {
    margin-top: 1em;
}

.content {
    background: #F5F5F5;
    border-radius: 15px;
    width:auto;
    height:max-content;
    display: flex;
    flex-direction: column;
    margin: 1em;
    width: 50%;
}

.statistics {
    height:max-content;
    display: flex;
    align-items: center;
}

.mastery-graph {
    background: #F5F5F5;
    border-radius: 15px;
    padding: 1em;
    height: 100%;
    align-items: center;
    margin: 1em;
}