# langchain
# torch
# transformers
# sentence-transformers
# langchain-community
# chromadb

pypdf==4.1.0
transformers==4.38.2
torch==2.2.1
accelerate==0.28.0
bitsandbytes==0.43.0
sentence_transformers==2.5.1
llama_index==0.10.20
llama-index-llms-huggingface== 0.1.4
llama-index-embeddings-langchain== 0.1.2
llama-index-readers-file

# pandas