.bottom-nav-menu {
  background-color: #0A6160;
  display: flex;
  justify-content: space-between;
  align-items: top;
  padding: 10px;
  width: 100%;
  margin-top: 50px;
}


.nav-left {
  padding-left: 10%;
  color: white;
  
}

.nav-right {
  display: flex;
  align-items: left;
  
  padding-right: 10%;
}

.nav-right ul {
padding: 0;
margin: 0;
list-style-type: none;
flex-direction: column;
justify-content: flex-start;
display: flex; 


}

.nav-right ul li {
  padding: 0 10px;
  color: white ; 
  text-align: left;
  font-weight: normal;


}


.nav-right ul li a {
  color: white;
  text-decoration: none;
  text-align: left ;
  align-items: left;

}
.nav-right ul + ul {
  margin-left: 60px; 
  
}
