.bottom-nav-menu {
    background-color: #0A6160;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
    left: 0;
    position: fixed;
    bottom: 0;
  }
  
  
  .nav-left {
    padding-left: 10%;
    color: white;
    
  }
  
  .nav-right {
    display: flex;
    align-items: left;
    
    padding-right: 10%;
  }
  
  .nav-right ul {
  padding: 0;
  margin: 0;
  list-style: none; 
  justify-content: flex-start;
  display: flex; 
}
  
  .nav-right ul li {
    padding: 0 10px;
    
    color: white ; 
    align-items: left;
  }
  
  .nav-right ul li a {
    color: white;
    text-decoration: none;
    text-align: left ;
  }
  .nav-right ul + ul {
    margin-left: 60px; 
    
  }
  