/*  

  Radial Graph Settings

  - size:       .radial-graph, .shape, .mask, and .fill will all need
                to receive the same width & height properties. Then
                .mask and .fill need to have their clip property set
                accordingly. 

  - width:      The stroke width is made by just placing a "cutout" shape 
                on top, and can be sized and positioned as you like (or removed).

  - progress:   adjust the .fill.shim rotation to a percentage of 
                the total radius, and then the .mask.full-mask & .fill 
                rotations to a value of half of that. See inline
                comments below for the formulas.

*/

.radial-graph,
.shape,
.mask,
.fill {
  width: 180px;
  height: 180px;
  border-radius: 50%;
}

.shape,
.mask,
.fill {
  position: absolute;
  background-color: #ebeff1;
}

.mask,
.fill {
  -webkit-backface-visibility: hidden;
  transition: transform 1s;
  border-radius: 50%;
}

.mask {
  clip: rect(0px, 180px, 180px, 90px);
}
.fill {
  clip: rect(0px, 90px, 180px, 0px);
  background-color: #0A6160;
}

.cutout {
  margin-left: 40px;
  margin-top: 40px;
  width: 100px;
  height: 100px;
  position: absolute;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cutout-label{
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  text-align: center;
}

.mask.full-mask,
.fill {
  /*
    For a value of 90%
    0.9 * 360  / 2
  */
  transform: rotate(145deg);
}
.fill.shim {
  /* 
    For a value of 90%
    0.9 * 360
  */
  transform: rotate(270deg);
}

.start .mask.full-mask,
.start .fill {
  /*
    For a value of 40%
    0.4 * 360  / 2
  */
  transform: rotate(0deg);
}
.start .fill.shim {
  /* 
    For a value of 40%
    0.4 * 360
  */
  transform: rotate(0deg);
}

.end .mask.full-mask,
.end .fill {
  /*
    For a value of 81%
    0.81 * 360  / 2
  */
  transform: rotate(145.8deg);
}
.end .fill.shim {
  /* 
    For a value of 81%
    0.81 * 360
  */
  transform: rotate(291.6deg);
}